<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.EducatedGuess.teachmeapp">

    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the "MyLocation" functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <permission
        android:name="com.EducatedGuess.teachmeapp.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.EducatedGuess.teachmeapp.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/teach_me_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">


        <service
            android:name="com.EducatedGuess.teachmeapp.service.MyFirebaseMessagingService"
            android:permission="com.google.android.c2dm.permission.SEND">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />
            </intent-filter>
        </service>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCjUwttdnub0i8vxJwOQAneNmLgHOnCL6g" />

        <activity
            android:name="com.EducatedGuess.teachmeapp.TeacherProfilePageOfferedLessons"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.StudentPendingRequestDetailsPage"
            android:screenOrientation="portrait"
            android:label="Lesson info"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.TeacherPendingRequestDetailsPage"
            android:screenOrientation="portrait"
            android:label="Lesson info"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.StudentPendingRequest"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.TeacherPendingRequests"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.EditInfo"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.TeacherLessonsAddOrRemove"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.Maps_activity_get_location"
            android:screenOrientation="portrait"
            android:label="@string/title_activity_maps_get_location"
            android:windowSoftInputMode="adjustPan"/>
        <activity
            android:name="com.EducatedGuess.teachmeapp.ScheduleExpandingButton"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.Schedule"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.Chat.Chats"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.Chat.ChatWindow"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.HomePageStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.HomePageTeacher"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.LoginAsTeacherOrStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.ConversationChatPage"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.SearchForTeacher"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MaterialComponents.Light.DarkActionBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.ProfilePageOfTeacherForStudent"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.HamburgerMenu"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.MapsActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.SignUp"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.RequestLessons"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.Login"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name="com.EducatedGuess.teachmeapp.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppThemeNoBar"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>